<div class="container">
  <form>
    <div class="form-group form-inline">
      Full text search:
      <input class="form-control ml-2" type="text" [formControl]="filter" placeholder="Filter titles..." />
    </div>
  </form>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">UserID</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of filteredItems$ | async | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize">
        <td>{{ item.id | number }}</td>
        <td><ngb-highlight [result]="item.title" [term]="filter.value"></ngb-highlight></td>
        <td>{{ item.userId | number }}</td>
      </tr>
    </tbody>
  </table>
  <ngb-pagination
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="(filteredItems$ | async).length"
  ></ngb-pagination>
</div>
