<div *ngIf="error" class="alert alert-danger">{{ error }}</div>
<div class="col-sm-4">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label class="control-label">Email</label>
      <div>
        <input class="form-control" type="text" formControlName="mail" />
        <bfv-messages></bfv-messages>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label">Password</label>
      <div>
        <input class="form-control" type="password" formControlName="password" />
        <bfv-messages></bfv-messages>
      </div>
    </div>
    <div class="form-group">
      <div>
        <button class="btn btn-primary" type="submit" [disabled]="loginForm.invalid">
          Submit
        </button>
      </div>
    </div>
  </form>
</div>
