<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="home">Home</a>
    <a class="nav-item nav-link" routerLink="login" *ngIf="!authService.isLoggedIn()">Login</a>
    <a class="nav-item nav-link" routerLink="profile" *ngIf="authService.isLoggedIn()">Profile</a>
    <a
      class="nav-item nav-link"
      style="cursor: pointer;"
      *ngIf="authService.isLoggedIn()"
      (click)="authService.logout()"
      >Logout</a
    >
  </div>
</nav>

<!-- main content container -->
<div class="jumbotron">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <hr />
</div>
