<div class="container">
  <div class="row">
    <div class="col">
      <ngb-accordion #acc="ngbAccordion" activeIds="a1">
        <ngb-panel id="a1" title="Sinistram">
          <ng-template ngbPanelContent>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
            officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
            wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
            excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
            you probably haven't heard of them accusamus labore sustainable VHS.
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
    <div class="col">
      <ngb-accordion #acc="ngbAccordion" activeIds="a2">
        <ngb-panel id="a2" title="Medium">
          <ng-template ngbPanelContent>
            Nulla venenatis mollis sapien, a maximus mauris malesuada id. Sed pulvinar malesuada augue, sit amet
            fermentum mauris fringilla et. Cras vitae sem congue, consequat velit a, elementum erat. Sed imperdiet
            accumsan rhoncus. Nam aliquet turpis vitae lorem elementum, ac mattis dui egestas. Fusce sit amet turpis
            quis justo ultricies scelerisque vitae in nulla. Ut lobortis commodo mauris in varius. Vestibulum
            scelerisque urna urna, vel ultricies orci semper sed. Maecenas ligula magna, euismod id consectetur
            fermentum, iaculis et nunc. Curabitur at elit ut ex imperdiet malesuada. Sed iaculis venenatis nibh a
            tempor. Maecenas commodo vestibulum tempor.
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
    <div class="col">
      <ngb-accordion #acc="ngbAccordion" activeIds="a3">
        <ngb-panel id="a3" title="Iustum">
          <ng-template ngbPanelContent>
            Aenean sit amet neque quis enim hendrerit interdum non ut arcu. In pellentesque imperdiet nunc, tristique
            congue urna blandit a. Nullam consectetur mollis euismod. Integer aliquam ipsum in neque ullamcorper
            bibendum. Phasellus congue, dolor a posuere porta, nulla nisl porttitor neque, eu euismod elit purus eget
            massa. Ut mattis nibh at enim iaculis facilisis. Duis eu magna quis turpis convallis interdum ut quis ante.
            Maecenas dignissim facilisis mi, et varius est iaculis a. Sed sit amet suscipit mi. Donec libero odio,
            pellentesque ut laoreet eu, eleifend fermentum odio. Donec mollis sit amet ligula sed placerat.
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
  <div class="container">
    <app-table></app-table>
  </div>
  <div class="row">
    <div class="col">
      <hr />
      <button class="btn btn-ml btn-primary" (click)="open()">Ostende mihi faciem feles</button>
    </div>
  </div>
</div>
